<div class="row">
	<div class="columns text-center large-12 titulo_nuevo_servicio">
		<h1>Nuevo servicio</h1>
	</div>
</div>


<%= render 'form', service: @service %>

<div class="row">
	<div class="columns large-12 text-center">
		<%= link_to 'atras', services_path %>
	</div>
</div>

