<div class="row">
	<div class="columns text-center large-12 title_contacto">
		<h1>INFORMACIÓN GENERAL</h1>
	</div>
</div>


<div class="row contenido_contacto">
	<div class="columns align-self-middle  large-6" style="align-content: center;">
		<ul style="list-style: none;">
			<li>
				<div class="row">
					<div class="columns large-4">
						<i class="fa fa-mobile fa-2x" style="color: #6392C7;">Teléfono:</i>
					</div>
					<div class="columns large-3">
						<p style="font-size: x-large;">3164206594</p>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="columns large-4">
						<i class="fa fa-map-marker fa-2x " aria-hidden="true" style="color: #6392C7;">Dirección:</i>
					</div>
					<div class="columns large-8">
						<p style="font-size: x-large;">San Francisco II Etapa Mz A #6</p>
					</div>
				</div>
			</li>
			<li>
				<div class="row align-center" style="margin-bottom: 20px;">
					<div class="columns large-12">
						<a href="https://www.facebook.com/S%C3%BAper-Gomelitos-334172733776695/" target="_blank">
							<i class="fa fa-facebook-square fa-2x">Facebook</i>
						</a>
					</div>	
				</div>					
			</li>
			<li>
				<div class="row">
					<div class="columns large-4">
						<i class="fa fa-whatsapp fa-2x" style="color: green">Whatsapp:</i>
					</div>
					<div class="columns large-3">
						<p style="font-size: x-large;">314265784</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="columns large-6 contenido_der_contacto">
		<div class="row">
			<div class="columns text-center large-12">
				<h5>Encargada</h5>
			</div>
			<div class="columns text-center large-12">
				<%= image_tag("encargada.jpg", :alt => "encargada", :class => "encargada") %>
			</div>
		</div>
	</div>
</div>