// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo {
	width:100%;
	height:500px;
	opacity: .8;
}

.header{
	background-color: transparent;
}

.header h1 {
	font-family: 'Coiny', cursive;
	width: 600px;
	letter-spacing: 3px;
	padding-bottom: 5px;
	padding-left: 20px;
	color: red;
	-webkit-text-stroke: 2px yellow;
	text-shadow: -5px -3px 1px #033769;
}

.header ul li {
	display: inline;
	margin-left: 20px;
}

.header ul li a {
	color: white;
	font-weight: bold;
	font-family: 'Handlee', cursive;
	font-size: large;
}

.sticky {
	height: 60px;
}

.menu {
	margin-bottom: 0px;
	padding-top: 20px;
}

.menu li a:hover {
	color: yellow;
}

.dropdown.menu ul li:hover{
	color: yellow;
}


#submenu-header{
	min-width: 130px;
	background-color: #6392C7;
	text-align: center;
}

#submenu-header li a {
	color:white;
}

#submenu-header li a::after {
	border-color: #1779ba transparent transparent;
}


.nosotros_title h4 {
	font-family: 'Coiny', cursive;
	font-size: xx-large;
	margin-top: 50px;
	margin-bottom: 150px;
	color: green;
	-webkit-text-stroke: 2px yellow;
}

.robin {
	height: 250px;
}

.fondo_robin {
	background-image: image-url("fondoRobin.jpg");
	background-repeat: no-repeat;
	background-position:center bottom;
	background-size: cover;
	height: 750px;
}

.nosotros p{
	font-family: 'Coiny', cursive;
	color: white;
	font-size: 20px;
	font-weight: bold;
	-webkit-text-stroke: 1px black;

}

.peinado1, .peinado2,.peinado3, .peinado4 {
	width: 800px;
	height: 430px;
}


.nuestro_trabajo h4 {
	font-family: 'Coiny', cursive;
	font-size: xx-large;
	margin-bottom: 80px;
	color: red;
	-webkit-text-stroke: 2px black;
}

.hombreAraña {
	width: 80px;
	height: 200px;
	position: relative;
	bottom:425px;
	left: 50px;
}

.fondo {
	background-image: url("fondoSpiderman.jpg");
	
	height: 650px;
}


.carrousel_peinados, .orbit {
	height: 430px;
	width: 800px;
}

.ubicanos {
	margin-bottom: 50px;
}

.ubicanos h4 {
	font-family: 'Coiny', cursive;
	font-size: xx-large;
	color: red;
	-webkit-text-stroke: 2px yellow;
}

.mapa {
	margin-bottom: 100px;
}

.contenido {

}

.footer {
	height: 80px;
	background-color: #6392C7;
	color: white;
}

.foot {
	padding-top: 8px;
}

.flash {
	height: 150px;
	opacity: .4;
}

.flash1 {
	height: 150px;
	opacity: 1;
}

.titulo_horario {
	margin-bottom: 150px;
}

.titulo_horario h4 {
	font-family: 'Coiny', cursive;
	font-size: xx-large;
	color: black;
	-webkit-text-stroke: 2px yellow;
}

.batimovil:hover {
	transform: translateX(100px);
}

.batman {
	height: 250px;
	width: 135px;
}

.horario_atencion {
	background-image: url("fondoBatman.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	margin: auto 0px;
	height: 750px;
	min-width: 100%;
	padding-top: 50px;
}

.semana_horario, .sabado_horario, .domingo_horario{
	color: #FFFFFF;
	-webkit-text-stroke: 1px black;
	font-family: 'Coiny', cursive;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-bottom: 60px;
	font-size:x-large;
	font-weight: bold;

}

.batman_horario, .batimovil_horario {
	margin-bottom: 0px;
}



.domingo_horario {
	margin-top: 180px;
}

.fondo_flash {
	background-image: url("fondoFlash.jpg");
	background-repeat: repeat-x;
	background-position: center;
	height: 750px;
}