.icono_login {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #0D719C;
}

.icono_login .icon {
	font-size: 150px;
}

.icono_usuario, .icono_contraseña, .icono_nombre, .icono_email {
	padding: 0px;
	color: #6392C7;
}

.recuerdame {
	font-family: 'Handlee', cursive;
	font-weight: bold;
	color: black
}

.otros_login {
	margin-bottom: 50px;
}

.boton_login {
	width: 150px;
}

.registrate h2, .recuperar h2 {
	color: #1779ba;
	font-family: 'Coiny', cursive;
	font-size: 50px;
	margin:50px auto;
}

.registrate {
	padding-left: 0px;
}

.recuperar {
	padding-left: 20px;
}

.icono_registro, .icono_recuperar {
	padding-top: 15px;
	padding-right: 10px;
}