.icono_login {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #0D719C;
}

.icono_login .icon {
	font-size: 150px;
}

.icono_usuario, .icono_contraseña, .icono_nombre, .icono_email {
	padding: 0px;
	color: #6392C7;
}

.recuerdame {
	font-family: 'Handlee', cursive;
	font-weight: bold;
	color: black
}

.otros_login {
	margin-bottom: 50px;
}

.boton_login {
	width: 150px;
}