    <footer class="columns large-12  footer">
      <div class="row  text-center foot">
        <div class="columns large-12">
          <i class="fa fa-envelope"></i>
          <span>   supergomelitos@gmail.com</span>
        </div>
        <div class="columns large-12">
          <i class="fa fa-phone"></i>
          <span>   3187636923</span>
        </div>
        <div class="columns large-12 copyright">
          <i class="fa fa-copyright"></i>
          <span>2018 Super Gomelitos</span>
        </div>
    </footer>